*{
    margin:0 ;
    padding: 0 ;
	box-sizing: border-box;
}

/***end selction**/

nav{
    background: #000000;
}   
.nav-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 0.5rem;
}

.nav-con img {
    width: 95px;
    border-radius: 50%;
    object-fit:fill;
}
/***end selction**/

/***Menu selction**/

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  	color: white;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
	font-size: 25px;
	border-radius: 5rem;
}

.dropdown-content a:hover {background-color: darkgray;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: darkgray;}

ul.menu{
    display: flex;
    list-style: none;
	justify-content: space-between;	
}
.menu li{
	margin-left: 25px;
	margin-right: 30px;
}
ul.menu li a{
    display: flex;
	align-items: center;
	justify-content: space-between;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
}
.dropbtn {
  color: white;
  font-size: 25px;
}
/***End menu selction**/

/**Slideshow selction**/
.slideshow{
    background: #E4E191;
    position: relative;
    max-width: 1500px;
    max-height: 750px;
    margin: 0 auto;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.item{
    max-width: 1500px;
    max-height: 750px;
    border-radius: 10px;
    overflow: hidden;
}
.item img{
    width: 1500px;
    height: 750px;
    object-fit: cover;
}

.slideshow .slick-prev{
    position: absolute;
    top: 375px;
    left: 20px;
    z-index: 10;
}

.slideshow .slick-next{
    position: absolute;
    top: 375px;
    right: 20px;
    z-index: 10;
}

.slideshow .slick-arrow{
    z-index: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    outline: red initial;
}

.slideshow .slick-dots{
    display: flex;
    bottom: 50px;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: absolute;
}

.slideshow .slick-dots li{
    list-style: none;
    margin: 0 2px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%   
}

.slideshow .slick-active{
    background: #000000 !important;
}
/**end Slideshow selction**/

/**แนะนำสถานที่ selction**/
.blog{
    width: 0 auto;
    height: 150px;
    background: #000000;
}
.blog-post{
    height: 150px;
    color: #FFFFFF;
    display:flex;
    justify-content: center;
    align-items: center;
}
.blog-post {
    font-size: 40px;
}

/**end แนะนำสถานที่ selction**/
/**grid selction**/
.grid{
	max-width: 1500px;
    display: grid;
    grid-template-columns: 550px 550px 550px;
    grid-template-rows: 3;
    column-gap: 20px;
    row-gap:10px;
    align-items: center;
    justify-content: center;
    margin-top:2rem;
}  
.grid img{
	max-width: 100%;
	width: 300;
	height: auto;
	object-fit: cover;
}
.grid .item1 img{
    border-radius: 6%;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
/**end grid selction**/

/** practice selction**/
.practice{
    width: 0 auto;
    height: 100px;
    background: #000000;
}
.practice-post{
    background-color: #000000;
    height: 100px;
    color: #FFF;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px
}
.practice-con{
    margin-top: 3rem;
    margin-bottom: 1rem;
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.practice-con img{
     border-radius: 4%;
}
.practice-info{
    text-align: start;
    width: 900px;
    height: 100;
    align-items: center;
}
.practice-info{
	max-width: 1500px;
    margin-top: 3rem;
    font-size: 20px;
}
.practice-info p{
    margin: 1rem;
	font-size: 18px;
}
/**end practice selction**/

/**end dressup selction**/
.dressup-banner{
    background-color: #000000;
    height: 150px;
    color: #FFF;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px
}

.dressup{
    background-color: #000000;
    height: 150px;
    color: #FFF;
    display:flex;
    justify-content: center;
    align-items: center;
	margin-top: 2rem;
}
.dressup-log{
	max-width: 1500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dressup-post{
    font-size: 20px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
	padding-left: 5rem;
	padding-right: 5rem;
}
.dressup-post p{
	max-width: auto;
	margin-left:1rem;
    margin-right:1rem;
}
.dressup-con{
    display: flex;
    align-items: center;
    justify-content: center;
	

    
}
/**end dressup selction**/

/** tengna selction**/
.tengna{
    background-color: #000000;
    height: 130px;
    color: #FFF;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
	margin-top:2rem

}
.tengna-blog{
    margin:0 auto;
	margin-top: 1rem;
}.tengna-blog p{
    font-size: 20px;
	margin-right: 13rem;
	margin-left: 13rem;
	max-height: 900px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/**คำว่าแต่งหน้าไปทำบุญ**/
.description{
	color: #000000;
	margin-top:2rem;
	margin-left:2rem;
}
.description p{
	font-size: 25px;
	font-weight: bold;
	color: red;
 	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
/**End คำว่าแต่งหน้าไปทำบุญ**/

/**ฝังลิ้ง selction**/
.funglink{
	margin-top: 1rem;
	justify-content: center;
	align-items: center;
	display: flex;
}
.funglink iframe{
	border:10px gray solid;
}
/**End ฝังลิ้ง selction**/

/**เขตกั้น**/
.bar{
    
	background: black;
	margin-top: 0.5rem;
	margin-left: 16.5rem;
	margin-right: 16.5rem;
	align-items: center;
	justify-content: center;
	display: flex;
    
}
.bar-con{
	background: black;	
}
.bar-con p{
	font-size: 50px
}
/**เขตกั้น**/

/**เกล็ดความรู้**/
.gred{
	height: 425px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:4rem;
}
.gred-title{
	margin-top:3rem;
}
.gred-post{
	background-color: #000000;
    height: 100px;
    color: #FFF;
    display:flex;
    justify-content: center;
    align-items: center;
}
.gred-post p{
	font-size: 30px;
}
.gred-info{
	padding-left:13rem;
	padding-right:13rem;
	padding-top: 2rem;
}
.gred-conten{
	font-size:  18px
}
.rujug{
	background-color: #000000;
    height: 100px;
    color: #FFF;
    display:flex;
    justify-content: center;
    align-items: center;
	margin-top: 3rem;
	border: none;
}
.rujug p{
	font-size: 30px;
}
.rujug-post {
	font-size: 19px;
	padding-left:12rem;
	padding-right:12rem;
	margin-top: 2rem;
	
}
/**End เกล็ดความรู้**/

/**	footer**/
.footer-container{
	background: #424242;
	margin-top:2rem;
	padding: 70px 30px 20px;
	height: 145px;
}
.socail-icon{
	display: flex;
	justify-content: center;
}
.socail-icon a{
	text-decoration: none;
	padding:10px;
	background: white;
	margin: 10px;
	border-radius: 50%;
}
.socail-icon a i{
	font-size: 2rem;
	color: black;
	opacity: 0.9;
}
/*hover effect on socail icon*/
.socail-icon a:hover{
	background:#9F9999;
	transition: 10;
}
.footer-nav{
	margin:30px 0;
}
.footer-nav ul{
	display: flex;
	justify-content: center;
}
.footer-nav ul li {
	color: white;
	margin: 20px;
	text-decoration: none;
	list-style: none;
	font-size: 1.3rem;
	opacity: 0.7;
	transition: 0.5;
}
.footer-nav ul li a{
    color: #fff;
    text-decoration: none;
}
.footer-nav ul li a:hover{
	background: red;
    transition: 0.5;
}
.footer-bottom{
	background: black;
	padding: 20px;
	text-align: center;
	justify-content: center;
	overflow: auto;
	height: 90px;
}
.footer-bottom p{
	color: white;
}
.designer{
	opacity: 0.7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	margin: 0px 5px;
}
.ham-menu{
  	display: inline-block;
  	cursor: pointer;
	position: absolute;
	right: 1rem;
	top: 0.5rem;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@media  only screen and (min-width:600px){
	.ham-menu {
		display: none;
	}
}
@media  only screen and (max-width:600px){
	.menu{
		display:none;
	}
	.nav-con{
		padding: 1rem;
		height: auto;
		flex-direction: column;
		align-items: flex-start;
	}
	.menu {
		width: 100%;
	}
	.menu li{
		margin: 1rem 0;
		padding: 1rem 0.3rem;
		transition: 1s;
	}	
	.menu li:hover{
		background-color:#595455;
	}
	.menu-active{
		display: block;
	}
}

/**End footer**/
